@charset "utf-8";

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxFIzIFKw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxMIzIFKw.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxEIzIFKw.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxLIzIFKw.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxHIzIFKw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxGIzIFKw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxIIzI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* CSS Document */
body{font-family: 'Roboto', sans-serif; overflow-x: hidden; font-weight: 400;}
ul, li{padding: 0; list-style: none;}
a{transition: color .1s ease-in-out; -webkit-transition: color .1s ease-in-out;}
input, textarea{-webkit-appearance: none;}
.has-feedback label ~ .form-control-feedback{top: 36px;}
/*Header Fold*/
header{position: fixed; top:0; left:0; width: 100%; z-index: 999;}
.navbar-default{background-color: #fff; border: 0; margin: 0; padding: 15px 0 10px; transition: padding .1s ease-in-out; -webkit-transition: padding .1s ease-in-out;}
.navbar-brand{padding: 0; height: auto; width: 123px;}
.navbar-brand img{width: auto; max-width: 100%;}
.navbar-nav > li{padding: 11px 25px;}
.navbar-nav > li:last-child{padding: 0; margin-left: 15px;}
.navbar-nav > li > a{padding: 0;}
.navbar-default .navbar-nav > li > a{color: #3a3f45; font-size: 18px; font-weight: 300;}
.navbar-nav > li:last-child a{background-color: #00ba6d; border-radius: 4px; padding: 11px 27px; transition: background .1s ease-in-out;}
.navbar-default .navbar-nav > li:last-child > a{font-size: 14px; font-weight: 500; color: #fff; text-transform: uppercase;}
.navbar-default .navbar-nav > li > a:hover{color: #00ba6d;}
.navbar-default .navbar-nav > li:last-child > a:hover{color: #fff; background-color: #02844e;}
header.fixed{box-shadow: 0px 1px 3px #999;}
header.fixed .navbar-default{padding-top: 10px; padding-bottom: 10px;}

/*First Fold*/
.main-banner-col{background: url(assets/images/main-bg.jpg) no-repeat left top; padding: 60px 0 30px; background-size: cover; float: left; width: 100%; overflow: hidden; margin-top: 95px;}
.main-banner-col .left-col{float: left; width: 582px; padding-top:93px;}
.main-banner-col h1{font-size: 51px; line-height: 67px; color: #fff; font-weight: 100; letter-spacing: -1.2px; margin: 0 0 27px;}
.main-banner-col .sub-head{font-size: 20px; color: #fff; line-height: 34px; opacity: 0.7; font-weight: 300; margin: 0;}
.main-banner-col .left-col ul{float: left; width: 100%; margin: 80px 0 76px;}
.main-banner-col .left-col li{float: left; width: 80%; margin-bottom: 58px;}
.main-banner-col .left-col img{float: left; margin-right: 15px;}
.main-banner-col .left-col .text-bar{float: left; width: 88%;}
.main-banner-col .left-col h4{font-size: 20px; font-weight: 700; color: #fff; margin: 0 0 10px}
.main-banner-col .left-col p{opacity: 0.7; font-size: 18px; font-weight: 300; line-height: 33px; color: #f4f5f5;}
.main-banner-col .right-col{float: right; width: 832px; padding:102px 0 290px 93px; position: relative; /*background: url('assets/images/mac-bg.png') no-repeat left top; position: absolute; right: 0;*/}
.main-banner-col .right-col .macimg{position: absolute; left: 0; top: 0;}
.main-banner-col .right-col h3{font-size: 26px; color: #303439; font-weight: 300; text-align: center; margin: 0; position: relative; z-index: 9; width: 860px;}
.main-banner-col .right-col ul{float: left; width: 860px; margin: 48px 0 0; position: relative; z-index: 9;}
.main-banner-col .right-col li{float: left; width: 25%; margin-bottom: 60px; min-height: 55px;}
.main-banner-col .right-col .img-logo{width: 100%; height: 45px; vertical-align: middle; display: table-cell; text-align: center;}
.main-banner-col .right-col ul img{width: auto; height: auto; max-width: 100%; max-height: 100%;}

/*Second Fold*/
.riverbed-section{float: left; width: 100%; display: table; background-color: #282828;}
.riverbed-section .left-col, .riverbed-section .right-col{display: table-cell; vertical-align: middle;}
.riverbed-section .left-col{padding: 0 128px 0 91px; width: 55%;}
.riverbed-section .left-col h2{font-size: 37px; color: #fff; line-height: 52px; letter-spacing: -0.9px; font-weight: 300; margin: 60px 0 35px; width: 80%;}
.riverbed-section .left-col p{font-size: 20px; line-height: 33px; color: #fff; width: 65%; font-weight: 300; opacity: 0.76; margin-bottom: 64px;}
.riverbed-section .left-col a{float: left; width: auto; padding-right: 25px; font-size: 16px; color: #fff; background: url('assets/images/arrow-icon.svg') no-repeat right 5px;}
.riverbed-section .left-col a:hover{text-decoration: underline;}
.riverbed-section .right-col{text-align: right; width: 45%;}
.riverbed-section .right-col img{width: 100%; height: auto;}

/*Third Fold*/
.att-section{float: left; width: 100%; display: table;}
.att-section .left-col, .att-section .right-col{display: table-cell; vertical-align: middle;}
.att-section .right-col{padding: 0 128px 0 91px; width: 55%;}
.att-section .right-col h2{font-size: 37px; color: #282828; line-height: 52px; letter-spacing: -0.9px; font-weight: 300; margin: 60px 0 35px; width: 70%;}
.att-section .right-col p{font-size: 20px; line-height: 33px; color: #282828; width: 60%; font-weight: 300; opacity: 0.76; margin-bottom: 64px;}
.att-section .right-col a{float: left; width: auto; padding-right: 25px; font-size: 16px; color: #282828; background: url('assets/images/blk-arrow-icon.svg') no-repeat right 5px;}
.att-section .right-col a:hover{text-decoration: underline;}
.att-section .left-col{text-align: right; width: 45%;}
.att-section .left-col img{width: 100%; height: auto;}

/*Fourth Fold*/
.clients-section{background: #f2f7f7; background: linear-gradient(to bottom, #F9FCFC, #F4F8F9); float: left; width: 100%; padding: 90px 0 132px;}
.clients-section h2{text-align: center; font-size: 60px; font-weight: 100; color: #131415; margin: 0;}
.clients-section .logo-list{float: left; width: 100%; margin: 72px 0 0;}
.clients-section .logo-list li{min-height: 65px;}
.clients-section .logo-list span{display: table-cell; width: 100%; height: 65px; vertical-align: middle;}

/*Fifth Fold*/
.community-section{float: left; width: 100%; padding: 105px 0 110px; text-align: center;}
.community-section h2{text-align: center; font-size: 60px; margin: 0 0 16px; line-height: 65px; color: #131415; font-weight: 100;}
.community-section .sub-head{float: left; width: 100%; text-align: center; font-size: 26px; line-height: 46px; letter-spacing: 1.3px; font-weight: 300; color: #131415;}
.community-section .community-list{display: inline-block; width: 1200px; margin-top: 88px;}
.community-section .community-list li{float: left; margin-right: 22px; margin-bottom: 22px;}

/*Sixth Fold*/
.content-section{float: left; width: 100%; padding: 0 0 10px; text-align: center;}
.content-section h3{color: #131415; font-size: 60px; line-height: 65px; font-weight: 100; margin: 0;}
.content-section .sub-head{float: left; width: 100%; font-size: 24px; line-height: 46px; color: #131415; letter-spacing: 1.2px; font-weight: 500; margin-top: 50px;}
.content-section p{font-size: 20px; line-height: 36px; letter-spacing: 1px; color: #131415; font-weight: 300; margin: 18px 0 80px; display: inline-block; width: 1000px;}
.content-section p a{color: #131415; font-weight: 400;}
.content-section .member-list{float: left; width: 100%; margin: 60px 0 38px;}
.content-section .member-list li{width: 20%; float: left;}

/*Seventh Fold*/
.story-section{float: left; width: 100%; padding: 0 0 139px; text-align: center;}
.story-section h2{font-size: 60px; line-height: 65px; color: #131415; font-weight: 100; margin: 0 0 18px;}
.story-section p{font-size: 20px; line-height: 36px; letter-spacing: 1px; color: #3a3a3a; font-weight: 300; display: inline-block; width: 989px; margin-bottom: 85px;}

/*Eight Fold*/
.contact-section{float: left; width: 100%; background-color: #f0f5f6; padding: 38px 0 53px;}
.contact-section .left-col{width: 380px; float: left; padding-top: 41px;}
.contact-section h3{float: left; width: 100%; font-size: 22px; color: #000; letter-spacing: 3px; margin: 0;}
.contact-section .contact-details{float: left; width: 100%; margin-top: 25px;}
.contact-section .contact-details li{float: left; width: 100%; margin-bottom: 30px; padding-left: 78px;}
.contact-section .contact-details li.address{background:url('assets/images/headquarters.png') no-repeat 8px top;}
.contact-section .contact-details li.phone{background: url('assets/images/phone.png') no-repeat 10px top;}
.contact-section .contact-details li.email{background: url('assets/images/email.png') no-repeat left top;}
.contact-section .contact-details .heading{float: left; width: 100%; font-size: 18px; color: #000; font-weight: 500; letter-spacing: 2.5px; margin-bottom: 7px;}
.contact-section .contact-details p{float: left; width: 100%; color: #000; font-size: 16px; line-height: 25px; margin: 0; font-weight: 300;}
.contact-section .contact-details a{color: #000;}
.contact-section .right-col{float: right; background-color: #fff; box-shadow: 0 1px 14px 0 rgba(205, 205, 205, 0.22); padding: 28px 35px 55px; width: 440px;}
.contact-section h2{float: left; width: 100%; font-size: 35px; color: #000; font-weight: 300; letter-spacing: 0.5px; margin: 0;}
.contact-section .right-col p{float: left; width: 100%; margin: 0 0 25px; line-height: 30px; font-size: 16px; color: #333;}
.contact-section .contact-form{float: left; width: 100%;}
.contact-section fieldset{float: left; width: 100%; margin-bottom: 14px;}
.contact-section label{float: left; width: 100%; font-size: 16px; line-height: 34px; color: #333; margin: 0; font-weight: 400;}
.contact-section label.error{color:#f01616; font-size:13px; line-height:17px;}
.contact-section input{border: 1px solid #e7e7e7; border-radius: 3px; width: 100%; height: 41px; font-size: 16px; color: #333; padding: 0 15px;}
.contact-section textarea{float: left; width: 100%; height: 113px; overflow-x: hidden; overflow-y: auto; resize: none; border: 1px solid #e7e7e7; padding: 10px;}
.contact-section input:focus, .contact-section textarea:focus{border-color: #50e3c2;}
.contact-section .invalid-feedback{display: none;}
.contact-section button{float: left; width: auto; border: 2px solid #717171; border-radius: 4px; padding: 12px 50px; color: #606060; font-size: 12px; font-weight: 500; text-transform: uppercase; background-color: #fff; cursor: pointer;}

.success{text-align: center;}
.success h2{font-size: 35px; font-weight: 300; color: #000; margin: 25px 0 30px;}
.success h2 span{font-size: 23px; float:left; width: 100%;}
.success p{font-size: 16px;}
.success p img{width: 100px; height: auto;}
.success p:last-child{width: 62%; display: inline-block; float: none; line-height: 21px; color: #333; font-weight: 300;}
.spinner {width: 90px; height: 90px; position: relative; margin: auto; left: 50%; margin-left: -45px; display: inline-block;}
.double-bounce1, .double-bounce2 {width: 100%; height: 100%; border-radius: 50%; background-color: #DC8B02; opacity: 0.6; position: absolute; top: 0; left: 0; -webkit-animation: sk-bounce 2.0s infinite ease-in-out; animation: sk-bounce 2.0s infinite ease-in-out; }
.double-bounce2 {-webkit-animation-delay: -1.0s; animation-delay: -1.0s; }
 @-webkit-keyframes sk-bounce {  0%, 100% {
-webkit-transform: scale(0.0)
}
 50% {
-webkit-transform: scale(1.0)
}
}
 @keyframes sk-bounce {  0%, 100% {
 transform: scale(0.0);
 -webkit-transform: scale(0.0);
}
50% {
 transform: scale(1.0);
 -webkit-transform: scale(1.0);
}
}

/*Ninth Fold*/
.newsletter-section{float: left; width: 100%; padding: 38px 0 42px;}
.newsletter-section .left-col{float: left; width: 325px;}
.newsletter-section h3{float: left; width: 100%; font-size: 30px; color: #333; letter-spacing: 0.4px; margin: 0 0 6px; font-weight: 300;}
.newsletter-section p{float: left; width: 100%; font-size: 16px; color: #333; font-weight: 300;}
.newsletter-section .right-col{float: right; width: 580px;}
.newsletter-section .success p img{width:40px;}
.newsletter-section fieldset{margin: 0; position: relative;}
.newsletter-section input{float: left; width: 73%; border: 1px solid #e7e7e7; border-radius: 4px; padding: 0 19px; height: 55px;}
.newsletter-section button{float: right; background-color: #d94738; border-radius: 4px; padding: 16px 54px; color: #fff; font-size: 15px; border: 0;}
.newsletter-section label.error{position: absolute; left: 0; bottom: -26px; font-weight: normal; color: #f01616; font-size: 13px;}

/*Footer Fold*/
footer{float: left; width: 100%; background-color: #2c3238; padding: 45px 0 30px;}
footer .social-col{width: 100%; float: left; margin-bottom: 26px; text-align: center;}
footer .social-col a{margin-right: 10px;}
footer .social-col a:last-child{margin-right: 0;}
footer .sub-head{float: left; width: 100%; text-align: center; font-size: 16px; line-height: 30px; letter-spacing: 0.4px; color: #fff; margin: 0;}
footer .footer-content{float: left; width: 100%; margin-top: 72px;}
footer .footer-content li{float: left; width: 31%; font-weight: 300;}
footer .footer-content li:nth-child(3){width: 20%;}
footer .footer-content li:last-child{width: 18%;}
footer .footer-content h5{float: left; width: 100%; font-size: 16px; color: #fff; letter-spacing: 0.4px; margin: 0 0 11px;}
footer .footer-content p{float: left; width: 100%; color: #d0d3d4; font-size: 16px; line-height: 24px; letter-spacing: 0.4px; margin: 0; opacity: 0.6;}
footer .footer-content a{color: #d0d3d4;}
footer .footer-bottom-row{float: left; width: 100%; border-top: 1px solid #383d42; padding: 24px 0 0; margin-top: 65px;}
footer .footer-bottom-row p{float: left; width: 50%; font-size: 14px; color: #d0d3d4; line-height: 30px; letter-spacing: 0.4px; margin: 0; opacity: 0.6; font-weight: 300;}
footer .footer-bottom-row a{color: #d0d3d4;}
footer .footer-bottom-row img{float: right;}

/*content popup*/
.detail-content-popup{position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.8); z-index: 9999; opacity: 0;}
.popup-inner{position: fixed; width: 1072px; height: 846px; left: 50%; top:50%; margin-left: -536px; margin-top: -423px; background-color: #fff; padding: 60px 20px 60px 70px; border-radius: 4px;}
.popup-inner.riverbed{background: url('assets/images/popup-bg-riverbed.png') no-repeat left top;}
.popup-inner.att{background: url('assets/images/popup-bg-att.png') no-repeat left top;}
.popup-inner .close-btn{width: 42px; height: 42px; float: left; position: absolute; right: -20px; top: -20px;}
.popup-inner .close-btn:hover, .popup-inner .close-btn:focus{text-decoration: none;}
.popup-inner .inner-col{float: left; width: 100%; margin-top: 20px; height:660px;}
.popup-inner h3{margin: 30px 0 10px; color: #fff; font-size: 35px; font-weight: 300;}
.popup-inner h4{margin: 30px 0 10px; color: #fff; font-size: 23px; font-weight: 300;}
.popup-inner h4 strong{font-weight: 500;}
.popup-inner p{margin-bottom: 20px; color: #fff; font-size: 18px; font-weight: 300; line-height: 28px; opacity: 0.76;}
.popup-inner .overview{width: 100% !important; padding-right: 50px;}